@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro:wght@400;600&display=swap");
.h-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #030202;
}

.h-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #030202;
}

.btn-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #030202;
}

.body-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(3, 2, 2, 0.8);
}

.folder-gallery {
  width: 100%;
  height: 100vh;
  background-color: #F8FFFE;
  padding: 0 14px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
}

.folder-gallery::-webkit-scrollbar {
  display: none;
}

.folder-gallery img {
  display: block;
}

.folder-gallery .folder-gallery-nav {
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 48px;
  background-color: #F8FFFE;
  z-index: 10;
}

.folder-gallery .folder-gallery-nav .close {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.folder-gallery .folder-gallery-nav .logo {
  position: absolute;
  left: 50%;
  height: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.folder-gallery .folder-gallery-nav .download-folder {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.folder-gallery .gallery-container .folder-label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(18, 18, 18, 0.6);
}

.folder-gallery .gallery-container .h-1 {
  width: 80%;
}

.folder-gallery .gallery-container .selection {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  background-color: #F8FFFE;
  z-index: 10;
}

.folder-gallery .gallery-container .selection .selection-button {
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #121212;
  background-color: #93EFB8;
  border-radius: 4px;
}

.folder-gallery .gallery-container .selection .active-selection {
  color: #fff;
  background-color: #1D2FD3;
}

.folder-gallery .gallery-container .gallery-data {
  width: 100%;
}

.folder-gallery .gallery-container .gallery-data .h-2 {
  margin-top: 10px;
}

.folder-gallery .gallery-container .gallery-data .data-grids {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid {
  overflow: hidden;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container {
  padding-top: 10px;
  overflow: hidden;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container span {
  border-radius: 8px;
  overflow: hidden;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container .gallery-image {
  width: 100%;
  min-height: 120px;
  max-height: 240px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container .video-thumbnail {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container .video-thumbnail .react-thumbnail-generator {
  width: 100%;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container .video-thumbnail .react-thumbnail-generator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 120px;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container .video-thumbnail .thumbnail-darker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.folder-gallery .gallery-container .gallery-data .data-grids .data-grid .data-container .video-thumbnail .play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}
/*# sourceMappingURL=FolderGallery.css.map */