@import '../../mixins.scss';

.modal-nav {
  width: 100vw;
  margin-left: -14px;
  padding: 15px 14px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  position: sticky;
  top: 0;
  background-color: #121212;
  z-index: 50;

  img {
    display: block;
  }

  .back {
    // width: calc(28px + (14px * 2));
    height: 30px;
    width: 35px;
    padding: 0 14px;
    @include flexCenter;
  }

  .logo {
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  // gallery url only
  .download-folder {
    display: none;
  }
}