@import '../../mixins.scss';

.video-player {
  width: calc(100% + (14px * 2));
  height: 100%;
  position: sticky;
  // top: 0;
  // left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);

  .close-video-player {
    width: 30px;
    height: 30px;
    margin: 14px;
    background-color: #fff;
    @include flexCenter;
  }

  .player {
    width: calc(100% - 28px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .video-element {
      width: 100% !important;
    }

    .download-video {
      background-color: $d_blue;
      @include fontProp('Montserrat', 500, 16px, #fff);
      width: 100%;
      padding: 12px 0;
      border-radius: 4px;
      margin-top: 12px;
    }
  }

  // .bark-bg {
  //   width: 100%;
  //   height
  // }
}