@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro:wght@400;600&display=swap');

$blue: #5666F5;
$green: #93EFB8;
$l_green: #D2F7E1;
$d_blue: #1D2FD3;
$black: #030202;
$body_bg: #F8FFFE;

@mixin flexCenter {
  display: flex;
  place-items: center;
  justify-content: center;
}

@mixin fontProp($family, $weight, $size, $color) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

.h-1 { @include fontProp('Montserrat', 700, 34px, $black); }
.h-2 { @include fontProp('Montserrat', 700, 24px, $black); }
.btn-text { @include fontProp('Montserrat', 500, 14px, $black); }
.body-text {
  @include fontProp('Source Sans Pro', 400, 16px, rgba($black, .8));
}